<!DOCTYPE html>
<html lang="en">
  <head th:replace="fragments :: common_header(~{::title},~{})">
  	<title>KT Home Automation App - About</title>
  </head>
  <body>
    <nav th:replace="fragments :: common_navigation(${navigationElements})">
    </nav>
    <div class="container-fluid">
      <div class="row"><!-- space --> &nbsp;</div>
      <div class="row">
        <div class="col-lg-12">
          <h1 class="display-4">About</h1>
          <p>KT Home Automation App - Version 0.0.1</p>
          <p>&copy; 2016 developed by www.kawumtech.de</p>
        </div>
      </div>
    </div>
  </body>
</html>
